.lo{
  width: 98px;
  height: 45.2px;
  margin-left: 130px;
  background: url(./Group\ \(3\).png);
  @media (max-width:1700px) {
    width: 98px;
    margin-left: 0px;
  }
}
.gg{
  width: 160px;
  height: 40px;
  background-color: white;
  border-color:gray;
  border-radius: 5px;
  margin-left: 60px;

}
.sd{
  width: 80px;
  height: 35px;
  margin: auto;
  background-color: white;
padding-top: 5px;
padding-left: 5px;

}
.sdr{
  width: 80px;
  height: 35px;
  background-color: #536DFD  ;
  color: white;
  border: none;
  margin-left: 20px;

  
}

.tr{
  width: 100%;
 min-height: 80vh;
  background-color: #536DFD;
  position: relative;
  overflow: hidden;
}
.ye{
  width: 600px;
  height: 600px;
  background-color: yellow;
  border-radius: 600px;
position: absolute;
right: -135px;
top: -100px;
@media (max-width:1500px) {
  width: 600px;
  height: 600px;
  border-radius: 600px;
}
}
.kitt{
  position: relative;
  z-index: 1234;
}
.hh{
  color: white;
  font-size: 44px;
  margin-top: 100px;
  margin-left: 220px;
@media (max-width:1500px) {
  width:50px;
  font-size:15px;
  
}
}
.hh span{
  color: yellow;
  @media (max-width:1000px) {
    color: white;
  }
}
.pp{
  color: white;
  margin-left: 220px;
  padding-top: 50px;
  font-size: 20px;
  @media (max-width:1500px) {
    margin-left: 48px;
    font-size: 25px;
  }
}
.input{
  width:565px ;
  height:60px ;
  margin-left: 220px;
  font-size: 22px;
  color:#9DA7BB;
  padding-left: 30px;
margin-top: 20px;
@media (max-width:1500px) {
  width: 330px;
  height: 30px;
  margin-left: 48px;
  padding-left: 6px;
}
}
.bir{
  width: 400px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
 margin: auto;
 margin-left: 900px;
 z-index: 1234;
 position: relative;
margin-top: -400px;
  @media (max-width:1500px) {
    width: 350px;
    margin-left: 40px;
    margin-top: 40px;
    
  }
}
.b{
  display: flex;
  justify-content: space-around;
  
}
.bu{
  width: 80px;
  height: 22px;
  background-color: #FFB800;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -40px;
}
.d span{
  color: gray;
  font-size: 15px;
  
}
.d{
margin-top: 20px;
margin-left: 40px;
}
.rr{
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.rr span{
  color: gray;
  font-size: 20px;
}
.i{
  background: url(./Group\ 5.png);
  Width:127px;
Height:17px;
margin-left: 20px;
margin-top: 20px;
}
.bi{
  width: 80px;
  height: 22px;
  background-color: #10C8A0;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -40px;
}
.ikki{
  width: 400px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
 margin: auto;
 margin-left: 1350px;
 z-index: 1234;
 position: relative;
margin-top: -180px;
  @media (max-width:1500px) {
    margin-left: 430px;
    margin-top: -180px;
  }
}
.ko span{
  color: gray;
  font-size: 15px;
  
}
.ko{
margin-top: 20px;
margin-left: 20px;
}
.ik{
  display: flex;
  justify-content: space-around;
  
}
.rp{
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.rp span{
  color: gray;
  font-size: 20px;
}
.uch{
  width: 410px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
 margin: auto;
 margin-left: 900px;
 z-index: 1234;
 position: relative;
margin-top: 50px;
  @media (max-width:1500px) {
    width: 350px;
    margin-left: 40px;
    margin-top: 40px;
    
  }
}
.uc{
  display: flex;
  justify-content: space-around;
  
}
.ci{
  width: 80px;
  height: 22px;
  background-color: #11BDF3;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -40px;
}
.kf span{
  color: gray;
  font-size: 15px;
  
}
.kf{
margin-top: 20px;
margin-left: 20px;
}
.rd{
  font-size: 25px;
  width: 500px;
  margin-left: 20px;
  margin-top: 10px;
}
.rd span{
  color: gray;
  font-size: 20px;
}
.top{
  width: 400px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
 margin: auto;
 margin-left: 1660px;
 z-index: 1234;
 position: relative;
margin-top: -180px;
  @media (max-width:1500px) {
    margin-left: 430px;
    margin-top: -180px;
  }
}
.ke span{
  color: gray;
  font-size: 15px;
  
}
.ke{
margin-top: 20px;
margin-left: 20px;
}
.ui{
  display: flex;
  justify-content: space-around;
  
}
.hd{
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
.hd span{
  color: gray;
  font-size: 20px;
}
.tor {
  width: 410px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
  margin: auto;
  margin-left: 1360px;
  z-index: 1234;
  position: relative;
  margin-top:-180px;

  @media (max-width:1500px) {
    width: 350px;
    margin-left: 40px;
    margin-top: 40px;

  }
}
.oi {
  width: 80px;
  height: 22px;
  background-color: #EB3B3B;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -40px;
}
.lk{
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}
.s{
  width: 540px;
  height: 188px;
  background: url(./image\ 3\(2\).png);
  margin-left: 170px;
  margin-top: 80px;
}
.dfgs{
  font-size: 30px;
  margin-left: 170px;
  margin-top: 20px;
}
.bid{
  width: 126px;
    height: 18px;
    margin-left: 170px;
    margin-top: 20px;
    
  background: url(./Group\ 5.png);
}
.binima{
    width: 540px;
      height: 188px;
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-top: 20px;
}
.baho {
  width: 540px;
  height: 188px;
  background: url(./image\ 3\(2\).png);
  margin-left: 90px;
  margin-top: 0px;
}

.dfgn{
  font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
}

.bud {
  width: 126px;
  height: 18px;
  margin-left: 100px;
  margin-top: 20px;

  background: url(./Group\ 5.png);
}

.bihnima {
  width: 540px;
  height: 188px;
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-top: 20px;
}
.ikktakichkina{
  display: flex;
}
.dizayn{
margin-left: -120px;
width: 700px;
  height: 450px;
margin-left: 40px;
margin: auto;
margin-left: 20px;
}

.binima {
  width: 540px;
  height: 188px;
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-top: 20px;
}

.baxho {
  width: 350px;
  height: 188px;
  background: url(./image\ 3\(2\).png);
  margin-left: 150px;
  margin-top: 0px;
}

.dfgcn {
  font-size: 30px;
  margin-left: 150px;
  margin-top: 20px;
}

.bpd {
  width: 126px;
  height: 18px;
  margin-left: 150px;
  margin-top: 20px;

  background: url(./Group\ 5.png);
}

.bipnima {
  width: 350px;
  height: 188px;
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-top: 20px;
}
.tyui{
  
}

.ikkinchi {
  display: flex;
}

.dizayn2 {
  margin-left: -120px;
  width: 700px;
  height: 450px;
  margin-left: 40px;
  margin: auto;

}