.lo{
  width: 98px;
  height: 45.2px;
  margin-left: -50px;
  background: url(./Group\ \(3\).png);
}
.gg{
  width: 150px;
  height: 30px;
  background-color: rgb(241, 241, 241);
  border-color: rgb(255, 255, 255);
}
.sd{
  width: 80px;
  height: 35px;
  background-color: white;
  margin-left: 1041px;
  margin-right: 20px;
  margin-top: 6px;
}
.sdr{
  width: 80px;
  height: 30px;
  background-color: #536DFD  ;
  color: white;
  border: none;
}